<app-header></app-header>

<h1 style="color:darkcyan; text-align: center;">List of Users created Banking Account</h1>

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th> Access to Application </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of getAllUsers">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.contactNumber}}</td>
                <td>{{user.status}}
                </td>
            </tr>>
        </tbody>
    </table>

</div>