<app-header></app-header>
<p>admin-home works!</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 pt-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">All Users</h4>
                    <p class="card-text">View list of Users using Application</p>
                    <button class="card-link btn btn-primary" matInput routerLink="/getAllUsers">getAllUsers</button>

                </div>
            </div>
        </div>
        <div class="col-sm-3 pt-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Pending Approval</h4>
                    <p class="card-text">Approve Newly Register Users</p>
                    <button class="card-link btn btn-primary" matInput routerLink="/adminapprove">Pending
                        Approvals</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pt-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Add account</h4>
                    <p class="card-text">Add primary and secondary account to the Users</p>
                    <button class="card-link btn btn-primary" matInput routerLink="/addaccountlist">Add
                        Account </button>
                </div>
            </div>
        </div>

    </div>
</div>