<app-header></app-header>

<div class="container">
    <label style="color: white">{{msg}}</label>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th> Status </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of getExistingUsers">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.contactNumber}}</td>
                <td>
                    <button type="button" (click)="addViewAccount(user.email)" class=" btn btn-primary">Add/View
                        Account</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button style="position:absolute;top: 100px;right:0;" class="card-link btn btn-primary" (click)="back()"> Go to
        previous page</button>
</div>